body {

        background-image: url("https://foxjj1999aa.github.io/抽獎_bg.jpg");
        background-position: center center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
	@media screen and(max-width:680px)
{
#text1{
font-size:2px;

}
}