body{	
		background-image: url("抽獎背景.jpg");
		background-repeat: no-repeat;
		background-size:auto;
		background-position:center center;
		padding-top:250px;
	}
	#luck{
		
	}
	*{
		margin-left: 0;padding-left: 0;
	}


	.shanDeng,.shanDeng2{
		position:relative;
		width:495px;
		height:495px;
		background-size: cover;
		background-repeat: no-repeat;
		margin:auto auto 280px auto;

		
	}

	.shanDeng{
		background-image: url(shandeng1.png);
	}
	.shanDeng2{
		background-image: url(shandeng2.png);
	}

	#btn .cjBtnDom,#btn .cjBtn,.shanDeng .active,.shanDeng td{
		width: 140px;
		height: 140px;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#btn.cjBtn{
		background-image: url(buttonUp.png);
	}
	#btn.cjBtnDom{
		background-image: url(buttonDown.png);
	}


	#luck .active{
		background-image: url(active.png);
	}
	.shanDeng td{
		text-align: center;
		background-image: url(proBj.png);
	}
	.shanDeng table{
		padding-left: 30px;
		padding-top: 35px;
		padding-bottom:-45px
	} 
